body {
    background-image: url("../images/BackGround_Home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

html, body {
    margin: 0;
    height: 100%;
}

html {
    color: white;
}

header{
    /* background-color: bisque; */
    padding: 20px;
    align-items: center;
}

nav{
    /* background-color: aqua; */
    display: flex;
    gap: 25px;
    margin-left: 320px;
    margin-top: 0px;
    margin-right: 0px;
}

nav a{
    font-size: 25px;
}

#Main_title{
    text-align: center;
    margin-top: 80px;
    scroll-margin-top: 100px;
}

.Nav_Bar{
    position: fixed;
    background-color: lightblue;
    top: 0;
    width: 100%;
}

.GitHub-Logo{
    background-color: white;
    width: 90px;
    height: 80px;
}

.logo-Linkedin{
    width: 100px;
    height: 80px;
}

.work{
    margin: 10px 0px;
    margin-bottom: -5px;
}
.work_columns{
    display: flex;
    gap: 100px;
}

.row1, .row2{
    display: flex;
    flex-direction: row;
}

.row1 p, h3, .row2 p, h3{
    margin: 10px 20px;
}

.list_work_Exp{
    margin-top: 10px;
}



